%h1 I Quote Projects
%p My goal is to help project managers organize project needs and provide a rough estimate of project development time and cost.

%h2 Affiliates
%ul
	- for user in User.all
		%li= link_to user.email, user_path(user)
